{% extends "base.html" %}
{% block nav %}
{% endblock %}
{% block content %}
<style>
    body {background-color:#0d0d0d;}
    a {color:BurlyWood;}
    h5 {color:LightSlateGray;}
</style>

    <h5>
        <a href="{{ paths.event(_context) }}">{{fight.tournament.event.name}}</a>
         - <a href="{{ paths.tournament(_context) }}">{{ fight.tournament.game.name }}</a>
         - {{ fight.name }}
    </h5>
    
    <section style="width:1280px;height:720px">
        <iframe src="https://www.youtube.com/embed/{{ fight.video_url }}?start={{ fight.timecode }}&autoplay=1&controls=0&showinfo=0&rel=0&modestbranding=1" style="width:1280px;height:720px"></iframe>
        
        <section style="text-align:center">
            {{fight.player1}} v {{fight.player2}}
        </section>
        
    </section>
    
{% endblock %}