{% extends "base.html" %}

{% block content %}

<h1>Editing: <a href="{{ paths.game(_context) }}">{{ game.name }}</a></h1>
    
<form method="post" action="{{ paths.game(_context, 'edit') }}">
    
    <div class="form-group">
        <label>Name</label>
        <input name="name" value="{{game.name}}" class="form-control" type="text" autocomplete="off">
        
        <label>Info</label>
        <input name="info" value="{{game.info}}" class="form-control" type="text" autocomplete="off">
        <br>
        
        <button type="submit" class="btn btn-primary">Save</button>
        <br>
        <br>
        {{ forms.destroy_button("#{ paths.game(_context, 'delete') }") }}
    </div>
</form>

{% endblock %}