{% extends "base.html" %}

{% block content %}
    <h1>Editing: {{game.name}}</h1>
    
<form method="post" action="{{base_path}}/games/{{game.id}}/edit">
    
    <div class="form-group">
        <label>Name</label>
        <input name="name" value="{{game.name}}" class="form-control" type="text">
        
        <label>Info</label>
        <input name="info" value="{{game.info}}" class="form-control" type="text">
        
        <br>
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>

<form method="post" action="{{base_path}}/games/{{game.id}}/delete">
    <button type="submit" class="btn btn-danger">Delete</button>
</form>
{% endblock %}