{% extends "base.html" %}

{% block content %}
    
{{msg.errors(errors)}}
    
    <h1>
        {{game.name}}
        {{btns.link("#{game_path}/#{game.id}/edit", "Edit")}}
    </h1>
    <section>{{game.info}}</section>
    
    <h2>Tournaments</h2>
    
    <ul>
        {% for event in events %}
        <li>
            {{btns.link("#{event_path}/#{event.id}", "#{event.name}")}}
        </li>
        {% else %}
            <li>No tournaments found</li>
        {% endfor %}
    </ul>
{% endblock %}