{% extends "base.html" %}

{% block content %}
    
    <h1>New game</h1>
    
<form method="post" action="{{ paths.game(_context, 'new') }}">
    
    <div class="form-group">
        <label>Name</label>
        <input name="name" class="form-control" type="text" autocomplete="off">
        
        <label>Info</label>
        <input name="info" value="{{params.info}}" class="form-control" type="text" autocomplete="off">
        
        <br>
        <button type="submit" class="btn btn-primary">Add</button>
    </div>
</form>

{% endblock %}