{% extends "base.html" %}

{% block content %}
    
    {% if errors %}
    <div class="alert alert-danger">
        <ul style="list-style-type:none">
            {% for error in errors %}
            <li>{{error}}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    
    <h1>New game</h1>
    
<form method="post" action="{{base_path}}/games/new">
    
    <div class="form-group">
        <label>Name</label>
        <input name="name" class="form-control" type="text" autocomplete="off">
        
        <label>Info</label>
        <input name="info" value="{{params.info}}" class="form-control" type="text" autocomplete="off">
        
        <br>
        <button type="submit" class="btn btn-primary">Add</button>
    </div>
</form>

{% endblock %}