{% extends "base.html" %}

{% block content %}
    <h1>Editing: EVO 2015</h1>
    
<form>
    <div class="form-group">
        <label>Name</label>
        <input class="form-control" value="EVO 2015" type="text">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
    
    <button class="btn btn-default">Add game</button>
    
    <h2>Tekken 7 <button class="btn btn-danger">Remove</button></h2>
    <div style="margin-left:40px">
        <button class="btn btn-default">Add match</button>
        <h3>Grand Finals <button class="btn btn-danger">Remove</button></h3>
        <div style="margin-left:40px">
            <button class="btn btn-default">Move Up</button>
            <button class="btn btn-default">Move down</button>
            <div class="form-group">
                <label>Name</label>
                <input class="form-control" value="Grand Finals" type="text">
                <label>Youtube code</label>
                <input class="form-control" value="8fvK0JOa0vg" type="text">
                <label>Timestamp</label>
                <input class="form-control" value="" type="text">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>
        <h3>Semifinals <button class="btn btn-danger">Remove</button></h3>
        <div style="margin-left:40px">
            <button class="btn btn-default">Move Up</button>
            <button class="btn btn-default">Move down</button>
            <div class="form-group">
                <label>Name</label>
                <input class="form-control" value="Semifinals" type="text">
                <label>Youtube code</label>
                <input class="form-control" value="temp" type="text">
                <label>Timestamp</label>
                <input class="form-control" value="12m50s" type="text">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
    
    <h2>Street Fighter V <button class="btn btn-danger">Remove</button></h2>
</form>
{% endblock %}