{% extends "base.html" %}

{% block content %}
    <h1>EVO 2015 <a href="tournament-edit"><button class="btn btn-default">Edit</button></a></h1>
    <button class="btn btn-default">Street Fighter V</button>
    <button class="btn btn-success">Tekken 7</button><br><br>
    
    <button class="btn btn-default">Losers Finals</button>
    <button class="btn btn-default">Semifinals</button>
    <button class="btn btn-success">Grand Finals</button><br><br>
    
    <iframe src="https://www.youtube.com/embed/8fvK0JOa0vg?controls=0&showinfo=0&rel=0" style="width:1280px;height:720px"></iframe>
{% endblock %}