{% extends "base.html" %}

{% block content %}
    <div style="float:left">
        <h1>EVO 2016</h1>
        
        <h2>Streaming</h2>
        <button class="btn btn-default">Street Fighter V</button>
        
        <h2>Offline</h2>
        <button class="btn btn-success">Tekken 7</button>
        
        <h2>Finished</h2>
        <button class="btn btn-default">King of Fighters XIV</button><br>
        <button class="btn btn-default">Killer Instinct</button>
        
    </div>
    <div style="float:right">
        <iframe src="http://player.twitch.tv/?channel=srkevo1" style="width:1280px;height:720px"></iframe>
    </div>
    
{% endblock %}