{% extends "base.html" %}

{% block content %}

{{msg.errors(errors)}}

<h1>Adding a tournament to <a href="{{event_path}}/{{event.id}}">{{event.name}}</a></h1>

<form method="post" action="{{event_path}}/{{event.id}}/add">
    
    <div class="form-group">
        <label>Name</label>
        <input name="name" class="form-control" placeholder="Fill in to distinguish e.g. a regular and a 3v3 Tournament, leave empty otherwise" type="text" autocomplete="off">
        
        <label>Game</label>
        <select name="game_id" class="form-control">
            {% for game in games %}
                <option value="{{game.id}}">{{game.name}}</option>
            {% endfor %}
        </select>
        
        <br>
        <button type="submit" class="btn btn-primary">Add</button>
    </div>
</form>
    
{% endblock %}