{% extends "base.html" %}

{% block content %}

<h1>Adding a tournament to <a href="{{ paths.event(_context) }}">{{event.name}}</a> {{ btns.link("#{ paths.event(_context, 'edit') }", "Edit") }}</h1>

<form method="post" action="{{ paths.event(_context, 'add') }}">
    <div class="form-group">
        <label>Name</label>
        <input name="name" class="form-control" value="{{params.name}}" placeholder="Fill in to distinguish e.g. a regular and a 3v3 Tournament, leave empty otherwise" type="text" autocomplete="off">
        
        <label>Game</label>
        <select name="game_id" class="form-control">
            {% for game in games %}
                <option value="{{game.id}}">{{game.name}}</option>
            {% endfor %}
        </select>
        
        <br>
        <button type="submit" class="btn btn-primary">Add</button>
    </div>
</form>

    
{% endblock %}