{% extends "base.html" %}

{% block content %}

{{msg.errors(errors)}}

<h1>Editing <a href="{{event_path}}/{{event.id}}">{{event.name}}</a>
    {{forms.destroy_button("#{event_path}/#{event.id}/delete")}}
</h1>
    
<form method="post" action="{{event_path}}/{{event.id}}/edit">
    
    <div class="form-group">
        <label>Name</label>
        <input name="name" value="{{event.name}}" class="form-control" type="text" autocomplete="off">
        
        <label>Location</label>
        <input name="location" value="{{event.location}}" class="form-control" type="text" autocomplete="off">
        
        <label>Start date</label>
        <input name="start_date" value="{{event.start_date}}" placeholder="YYYY-MM-DD" class="form-control" type="text" autocomplete="off">
        
        <label>End date</label>
        <input name="end_date" value="{{event.end_date}}" placeholder="YYYY-MM-DD" class="form-control" type="text" autocomplete="off">
        
        {% if event.live %}
        <label>Live </label>
        <input name="live" class="form-control" type="checkbox" checked>
        {% else %}
        <label>Live </label>
        <input name="live" class="form-control" type="checkbox">
        {% endif %}
        
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>

<br>
{{btns.link("#{event_path}/#{event.id}/add", "Add tournament")}}

<section>
    {% for tournament in event.tournaments %}
        <h2>{{tournament.game.name}}
            {{btns.link("#{tournament_path}/#{tournament.id}/add", "Add fight")}}
            {{forms.destroy_button("#{tournament_path}/#{tournament.id}/delete")}}
        </h2>
        
        {% for fight in tournament.fights %}
            <h3>{{fight.name}}
                {{btns.link("#{fight_path}/#{fight_id}/edit", "Edit")}}
                {{forms.destroy_button("#{fight_path}/#{fight.id}/delete")}}
            </h3>
        {% endfor %}
    {% endfor %}
</section>

{% endblock %}