{% extends "base.html" %}

{% block content %}

<h1>Editing {{event.name}}
    <form method="post" action="{{base_path}}/events/{{event.id}}/delete">
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>
</h1>
<a href="{{base_path}}/events/{{event.id}}/add">
    <button class="btn btn-default">Add game</button>
</a>

<section>
    {% for tournament in event.tournaments %}
        <h2>{{tournament.game.name}}
            <a href="{{base_path}}/tournaments/{{tournament.id}}/add">
                <button class="btn btn-default">Add fight</button>
            </a>
            <form method="post" action="{{base_path}}/tournaments/{{tournament.id}}/delete">
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        </h2>
        
        {% for fight in tournament.fights %}
            <h3>{{fight.name}}
                <a href="{{base_path}}/fights/{{fight.id}}/edit" >
                    <button class="btn btn-default">Edit</button>
                </a>
                <form method="post" action="{{base_path}}/fights/{{fight.id}}/delete">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </h3>
        {% endfor %}
    {% endfor %}
</section>

{% endblock %}