{% extends "base.html" %}

{% block content %}
<h1>Editing {{event.name}} <button class="btn btn-danger">Delete</button></h1>

<section>
    <button class="btn btn-default">Add game</button>
    {% for tournament in event.tournaments %}
        <h2>{{tournament.game.name}} <button class="btn btn-default">Add fight</button> <button class="btn btn-danger">Delete</button></h2>
        {% for fight in tournament.fights %}
            <h3>{{fight.name}} <button class="btn btn-default">Edit</button> <button class="btn btn-danger">Delete</button></h3>
        {% endfor %}
    {% endfor %}
</section>
    
<section id="tournament">
</section>
<section id="matches">
</section>
    
{% endblock %}