{% extends "base.html" %}

{% block content %}

<h1>{{event.name}}
    {{ btns.link("#{ paths.event(_context, 'edit') }", "Edit") }}
</h1>

<h5>at {{event.location}} from {{event.start_date}} to {{event.end_date}}</h5>

{% if event.live %}
<section id="streams">
    <h4>Streams</h4>
    <ul>
    {% for stream in event.stream_array %}
        <li>
            {{ btns.link("#{ paths.stream(_context) }", "#{stream}") }}
        </li>
    {% endfor %}
    </ul>
</section>
{% else %}
<section id="tournaments">
    <h4>Tournaments</h4>
    <ul>
    {% for tournament in event.tournaments %}
        <li>
            {{ btns.link("#{ paths.tournament(_context) }", "#{tournament.full_name}") }}
        </li>
    {% else %}
        <li>No tournaments found</li>
    {% endfor %}
    </ul>
</section>
{% endif %}
    
{% endblock %}