{% extends "base.html" %}

{% block content %}

<h1>{{event.name}}
    {{btns.link("#{event_path}/#{event.id}/edit", "Edit")}}
</h1>

<h5>at {{event.location}} from {{event.start_date}} to {{event.end_date}}</h5>

<section id="tournaments">
    <ul>
    {% for tournament in event.tournaments %}
        <li>
            {% set name = "#{tournament.game.name}" %}
            {% if tournament.name is not empty %}
                {% set name = "{{name}} - {{tournament.name}}" %}
            {% endif %}
            {{btns.link("#{tournament_path}/#{tournament.id}", "#{name}", "primary")}}
        </li>
    {% else %}
        <li>No tournaments found</li>
    {% endfor %}
    </ul>
</section>
    
{% endblock %}