{% extends "base.html" %}

{% block content %}

<h1>{{event.name}}
    {{ btns.link("#{ paths.event(_context, 'edit') }", "Edit") }}
</h1>

<h5>at {{event.location}} from {{event.start_date}} to {{event.end_date}}</h5>

<section id="tournaments">
    <ul>
    {% for tournament in event.tournaments %}
        <li>
            {% if tournament.name is not empty %}
                {% set name = "#{tournament.game.name} - #{tournament.name}" %}
            {% else %}
                {% set name = "#{tournament.game.name}" %}
            {% endif %}
            {{ btns.link("#{ paths.tournament(_context) }", "#{name}") }}
        </li>
    {% else %}
        <li>No tournaments found</li>
    {% endfor %}
    </ul>
</section>
    
{% endblock %}