{% extends "base.html" %}

{% block content %}

<div style="float:left">
    <h1>Live Tournaments</h1>
    
    <ul>
        {% for event in live %}
        <a href="{{event_path}}/{{event.id}}">
            <li>{{event.name}}</li>
        </a>
        {% endfor %}
    </ul>
</div>

{{btns.link("#{event_path}/new", "New event")}}

<div style="float:right">
    <h1>Most Recent</h1>
    
    <ul>
        {% for event in past %}
        <a href="{{event_path}}/{{event.id}}">
            <li>{{event.name}}</li>
        </a>
        {% endfor %}
    </ul>
</div>
    
{% endblock %}