{% extends "base.html" %}

{% block content %}

<div style="float:left">
    <h1>Live Tournaments</h1>
    
    <ul>
        {% for event in live %}
            {{ btns.link("#{ paths.event(_context) }", "#{event.name}") }}
        {% endfor %}
    </ul>
</div>

{{ btns.link("#{ paths.event(_context, 'new') }", "New event") }}

<div style="float:right">
    <h1>Most Recent</h1>
    {{ btns.link("#{ paths.event(_context, 'past_events') }", "Past events") }}
    
    <ul>
        {% for event in past %}
            {{ btns.link("#{ paths.event(_context) }", "#{event.name}") }}
        {% endfor %}
    </ul>
</div>

    
{% endblock %}