{% extends "base.html" %}

{% block content %}

<div style="float:left">
    <h1>Live Tournaments</h1>
    
    <ul style="list-style-type:none">
        {% for event in live %}
        <a href="{{base_path}}/events/{{event.id}}">
            <li>{{event.name}}</li>
        </a>
        {% endfor %}
    </ul>
</div>

<a href="{{base_path}}/events/new">
    <button class="btn btn-default">New event</button>
</a>

<div style="float:right">
    <h1>Most Recent</h1>
    
    <ul style="list-style-type:none">
        {% for event in past %}
        <a href="{{base_path}}/events/{{event.id}}">
            <li>{{event.name}}</li>
        </a>
        {% endfor %}
    </ul>
</div>
    
{% endblock %}