{% extends "base.html" %}

{% block content %}

<h1>
    <a href="{{ paths.event(_context) }}">{{ tournament.event.name }}</a>
    - {{ tournament.full_name }}
    {{ btns.link("#{ paths.tournament(_context, 'edit') }", "Edit") }}
</h1>

<h2>Fights</h2>
<section id="fights">
    <ul>
    {% for fight in tournament.fights %}
        <a href="{{ paths.fight(_context) }}">
            <li>{{fight.name}}</li>
        </a>
    {% else %}
        <li>No fights found</li>
    {% endfor %}
    </ul>
</section>
    
{% endblock %}