<!DOCTYPE html>
<html>
  <head>
    {% import "macros/forms.html" as forms %}
    {% import "macros/buttons.html" as btns %}
    {% import "macros/msg.html" as msg %}
    {% import "macros/paths.html" as paths %}
    {% import "macros/conditional.html" as cond %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
      {% block title %}
        Fighting Game Tournaments
      {% endblock %}
    </title>

    {% block head %}
      <!-- Bootstrap (tyylitiedosto) -->
      <link href="{{ base_path }}/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

      <!-- Oma tyylitiedostomme -->
      <link href="{{ base_path }}/assets/css/site.css" rel="stylesheet">
      <style>
        ul {list-style:none; padding:8px; line-height:3;}
      </style>
    {% endblock %}
  </head>

  <body>
    {% block nav %}
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- Sovelluksen nimi -->
          <a class="navbar-brand" href="{{ base_path }}">Fighting Game Tournaments</a>
        </div>

        <div class="collapse navbar-collapse" id="navigation">
          <ul class="nav navbar-nav">
            <!-- Navigaation linkit -->
            <li><a href="{{base_path}}/events">Events</a></li>
            <li><a href="{{base_path}}/games">Games</a></li>
            {% if user_logged_in is not null %}
              <li><a href="{{base_path}}/logout">Log out</a></li>
              <li>Logged in as [{{user_logged_in.username}}]</li>
            {% else %}
              <li><a href="{{base_path}}/register">Register</a></li>
              <li><a href="{{base_path}}/login">Log in</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    {% endblock %}

    <div id="main-container">
      <!-- Dynaaminen sisältö tulee tähän -->
      {{ msg.message(message) }}
      {{ msg.errors(errors) }}
      {% block content %}{% endblock %}
    </div>

    {% block body %}
      <!-- jQuery -->
      <script src="{{ base_path }}/vendor/jquery.min.js"></script>

      <!-- Bootstrap (skriptitiedosto) -->
      <script src="{{ base_path }}/vendor/bootstrap/js/bootstrap.min.js"></script>

      <!-- Oma skriptitiedostomme -->
      <script src="{{ base_path }}/assets/js/site.js"></script>
    {% endblock %}
  </body>
</html>
